<ion-header class="ion-no-border">
  <ion-toolbar class="app-toolbar">
    <ion-buttons class="nav-buttons">
      <ion-button class="nav-button"  (click)="calculadora()" >
        <ion-icon [icon]="calculatorIcon"></ion-icon>
        <small>Calcular</small>
      </ion-button>
      
      <ion-button class="nav-button" (click)="guardados()" >
        <ion-icon [icon]="folderIcon"></ion-icon>
        <small>Guardados</small>
      </ion-button>
      
      <ion-button class="nav-button" (click)="perfil()">
        <ion-icon [icon]="profileIcon"></ion-icon>
        <small>Perfil</small>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content-container">
    <ion-card class="main-card">
      <ion-card-header>
        <h1 class="main-title">Calculadora Financiera</h1>
        <p class="subtitle">Tu asistente para decisiones financieras inteligentes</p>
      </ion-card-header>

      <ion-card-content>
        <div class="feature-text">
          <p>Calcula intereses, plazos y gestiona tus finanzas de manera eficiente.</p>
          <p>Guarda tus cálculos y consúltalos cuando lo necesites.</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>