<ion-content class="ion-padding">
  <ion-card class="intro-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Cálculos Guardados</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Consulta y gestiona tus cálculos financieros guardados</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <!-- lista de claculos guardados -->
  <ion-list>
    <ion-item *ngFor="let item of calculos" (click)="abrirDetalle(item)">
      <ion-label>
        <h2>{{ item.tipo | titlecase }}</h2>
        <p>{{ item.fecha | date:'short' }}</p>
        <p>{{ item.resultado }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
    <!--boton de retroceder-->
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="primary" (click)="volver()">
        <ion-icon [icon]="arrowBackOutline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>